
body {
    font-family: Helvetica, Arial, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hud {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 5px;
}

#hud a {
    text-decoration: underline;
    color: #333333;
    font-weight: bold;
}

#hud a:link {
    color: #333333;
}

#hud a:visited {
    color: #333333;
}

.description {
    z-index: 3;
    position: relative;
    text-align: center;
    top: 20%;
}

#title {
    font-size: xx-large;
}

#subtitle {
    font-size: x-large;
}

.shader {
    position: absolute;
    bottom: 20px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    z-index: 3;
    bottom: 100px;
    background-color: white;
    font-size: x-large;
}

.shader > span > span {
    text-decoration: underline;
}

#shader-universal {
    left: 100px;
}

#shader-no-windows {
    right: 100px;
}
